body{
font-family:Arial;
background:#0e0e0e;
color:white;
margin:0;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:black;
}

.menu a{
margin-left:20px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
margin-top:120px;
}

button{
background:#5865F2;
border:none;
padding:12px 25px;
color:white;
font-size:16px;
cursor:pointer;
}

.title{
text-align:center;
margin-top:40px;
}

table{
width:80%;
margin:auto;
border-collapse:collapse;
margin-top:40px;
}

th,td{
border:1px solid #444;
padding:10px;
text-align:center;
}

#search{
display:block;
margin:auto;
margin-top:30px;
padding:10px;
width:300px;
}
